<a href="https://colab.research.google.com/github/a-prashar/Interview-query/blob/main/Practice_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## pip install pyspark
!pip install -q pyspark

## Creating Spark Sessions
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("test-app").getOrCreate()

In [43]:
from pyspark.sql.functions import *
from pyspark.sql.types import ArrayType, IntegerType, StringType, StructField, StructType

In [15]:
data = [("anupama",1),("akkki", 34)]
schema = ['name' , 'number']

In [16]:
df= spark.createDataFrame(data,schema)

In [17]:
df.show()

+-------+------+
|   name|number|
+-------+------+
|anupama|     1|
|  akkki|    34|
+-------+------+

In [18]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- number: long (nullable = true)

In [21]:
data1 = [("anupama",[10,20,30]),("akkki", [34,44,54])]
schema1 = ['name' , 'number']

In [22]:
df1= spark.createDataFrame(data1,schema1)

In [23]:
df1.show()

+-------+------------+
|   name|      number|
+-------+------------+
|anupama|[10, 20, 30]|
|  akkki|[34, 44, 54]|
+-------+------------+

In [40]:
df11= df1.withColumn("first_num",df1.number[0]).\
withColumn("second_num",col('number')[1])

In [41]:
df11.show()

+-------+------------+---------+----------+
|   name|      number|first_num|second_num|
+-------+------------+---------+----------+
|anupama|[10, 20, 30]|       10|        20|
|  akkki|[34, 44, 54]|       34|        44|
+-------+------------+---------+----------+

In [46]:
df11.withColumn("new_num",array(df11.first_num,df11.second_num)).show()

+-------+------------+---------+----------+--------+
|   name|      number|first_num|second_num| new_num|
+-------+------------+---------+----------+--------+
|anupama|[10, 20, 30]|       10|        20|[10, 20]|
|  akkki|[34, 44, 54]|       34|        44|[34, 44]|
+-------+------------+---------+----------+--------+

In [27]:
df1.withColumn("second_num",col('number')[1]).show()

+-------+------------+----------+
|   name|      number|second_num|
+-------+------------+----------+
|anupama|[10, 20, 30]|        20|
|  akkki|[34, 44, 54]|        44|
+-------+------------+----------+

In [36]:
data1 = [("anupama",[10,20,30]),("akkki", [34,44,54])]
schema1 = StructType([StructField("name",StringType()),\
                     StructField("numbers",ArrayType(IntegerType()))])

In [37]:
df2= spark.createDataFrame(data1,schema1)

In [38]:
df2.show()

+-------+------------+
|   name|     numbers|
+-------+------------+
|anupama|[10, 20, 30]|
|  akkki|[34, 44, 54]|
+-------+------------+

Explode Function

In [47]:
data3 = [(1,"anupama",["Azure","Python"]),
         (2,"Akki",["Azure","Quality"])]

schema3 = ["id","name","skills"]

In [48]:
df3= spark.createDataFrame(data3,schema3)

In [51]:
df33=df3.withColumn("Seperate Skills",explode(col('skills')))

In [52]:
df33.show()

+---+-------+----------------+---------------+
| id|   name|          skills|Seperate Skills|
+---+-------+----------------+---------------+
|  1|anupama| [Azure, Python]|          Azure|
|  1|anupama| [Azure, Python]|         Python|
|  2|   Akki|[Azure, Quality]|          Azure|
|  2|   Akki|[Azure, Quality]|        Quality|
+---+-------+----------------+---------------+

Split Functions: Split the string and give Arraytype

In [54]:
data4 = [(1,"anupama","Azure,Python"),
         (2,"Akki","Azure,Quality")]

schema4 = ["id","name","skills"]

In [55]:
df4 =spark.createDataFrame(data4,schema4)
df4.show()

+---+-------+-------------+
| id|   name|       skills|
+---+-------+-------------+
|  1|anupama| Azure,Python|
|  2|   Akki|Azure,Quality|
+---+-------+-------------+

In [56]:
df4.withColumn("spliSkills",split(col('skills'),',')).show()

+---+-------+-------------+----------------+
| id|   name|       skills|      spliSkills|
+---+-------+-------------+----------------+
|  1|anupama| Azure,Python| [Azure, Python]|
|  2|   Akki|Azure,Quality|[Azure, Quality]|
+---+-------+-------------+----------------+